body {
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}


/* angular temp top nav */
nav {
  background-color: #99aba9;
  border-bottom: 2px solid #e6d27a;
  padding: 1rem;
}
nav a{
  padding: 1rem;
}
nav a:hover {
  background: #abc;
}
nav a.current {
  background: #346;
  color: #dde;
  text-decoration: none;
}
header h1 {
  background-color: #99aba9;
  color: #667;
  font-family: 'Playfair Display SC', Georgia, serif;
  font-size: 250%;
  letter-spacing: 0.15em;
  line-height: 3rem;
  margin: 0;
  padding: 0.4em 0;
  text-align: center;
}
header h2 {
  background-color: #99aba9;
  color: #667;
  font-family: Georgia, serif;
  font-size: 120%;
  line-height: 0.5rem;
  margin: 0;
  padding: 1rem;
}
header {
  background-color: rgb(187, 205, 222);
  border-bottom: 4px solid #e6d27a;
  margin: 0px;
  padding: 0px;
}

main {
  background: rgb(250,250,255);
  margin: 0;
  padding: 40px 0;
}

button {
  display: inline-block;
  height: 50px;
  margin: 40px 0 40px 45vw;
  width: 200px;
}

footer {
  background-color: #444444;
  display: block;
  width: 100%;
}
footer ul {
  display: inline-block;
  margin-left: 8.3%;
  width: 30%;
}
footer ul li {
  background-color: #848484;
  list-style-type: none;
}
h2 {
  color: #6767a2;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
  text-align: center;
}
a {
  color: #60686a;
}
.hidden {
  display: none;
}

.episode-mini {
  /*display: none; /* initially hidden */
  background: #ddd;
  border-radius: 4px;
  bottom: 1em;
  left: 0.5em;
  padding: 0 10px 5px;
  position: fixed;
  z-index: 20;
}
.interlude {
  display: none;
}

.entrypoint {
  background: rgba(230,235,240,0.8);
  box-shadow: 0 0 9px rgba(200,200,180,0.5);
  cursor: pointer;
  left: 50%;
  padding: 1em 2em;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}
.aboveground .entrypoint {
  top: 50%;
}
.belowground .entrypoint {
  top: 60px;
}
      /*#site-title {
        background: rgb(215, 223, 231);
        border: double 4px #999;
        margin: 0 auto;
        text-align: center;
        width: 40vw;
      }*/

#upper-transition {
  position: relative;
}
.aboveground {
        /*background:
          linear-gradient(to bottom, rgba(190,200,210,1) 0%, rgba(140,145,150,1) 100%);
        border-radius: 50% 50% 0 0;*/
  background: url('/images/landing_full.jpg');
  background-size: cover;
  height: 70vw;
  margin: 0 auto;
        /*padding: 40px;*/
  position: relative;
  width: 70vw;
}
#painting {
  background: #eee url('../images/miranda.jpg');
  background-size: cover;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
        /*transform: translateX(-50%);*/
  transform-origin: 50% bottom;
  width: 100%;
  z-index: 4;
  animation-name: fadeOut;
  animation-delay: 0.8s;
  animation-duration: 1.6s;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
      /* temp animation, to be replaced with ScrollMagic scroll-proportional fade */
@keyframes fadeOut {
  0% { opacity: 1; }
  99% { opacity: 0; z-index: 4; transform: scale(0.6) translateY(1vh); }
  100% { opacity: 0; z-index: -1; }
}

.buildings {
  background: url('../images/skyline.svg') 50% 0% no-repeat;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.trees {
  background: url('../images/treeline.svg') bottom center no-repeat;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.episodes-wrapper {
  overflow-x: scroll;
}
.episodes {
  opacity: 0;
  transition: all 1s ease;
  width: 300vw;
}
.episodes.shown {
  opacity: 1;
}

.episode {
        /*border-image: url('../images/cloud.png') 2 stretch;*/
  background-color: rgb(215, 223, 231);
  border-color: rgb(185, 195, 206);
  border-style: solid;
  border-width: 1px;
  float: left;
  margin: 0 1em;
  padding: 0 20px;
  width: 22em;
  max-width: 100vw;
}
.episode-mini {
}
.episode-mini p {
  color: #555;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.belowground {
        /*background: radial-gradient(
          ellipse at top,
          rgba(100,130,180,1),
          rgba(190,200,210,1)
        );*/
  background: url('/images/landing_full.jpg');
  background-size: cover;
  background-position: 50% 100%;
        /*border-radius: 0 0 50% 50%;*/
  height: 23vw;
  margin: 0 auto 40px;
  padding: 0;
  position: relative;
  width: 70vw;
}

#nolimetangere {
  background-color: #444;
  display: block;
  height: 360px;
  margin: 0 auto;
        /*width: 24em;*/
  opacity: 1;
}

h3{
  border-bottom: 2px solid #a8afbd;
  color: #346;
  line-height: 1.5em;
  padding: 0 10vw;
}
img{
  display: block;
  margin: 0 auto;
}
.page, episodes ul, narrative ul, reference ul, .wrapper ul{
  background-color: rgba(255, 255, 255, 0.64);
  border-bottom: 1px solid #ccc;
}
.animation-wrapper {
  /* for page-turn animation on child .wrapper */
  perspective: 800px;
  position: relative; 
  min-height: 600px;
}
ng-component {
  /* for page-turn animation */
  position: absolute; 
  top: 0; 
  left: 0; 
  transform-origin: left center;
  transform-style: preserve-3d;
  width: 100%; /* or less? */
}
ng-component, narrative, reference, characters, episodes, landing, main, .wrapper{
  background: url(../images/wavecut.png) repeat;
}
characters{
  min-height: 800px;
}
.wrapper{
  min-height: 800px;/*still working on this, trying to figure out how to get the content to be the right height to fill the rest of the page*/
  margin: 0;
  padding: 1em 0;
}
episodes ul, narrative ul, reference ul, .wrapper ul{
  display: inline-block;
  list-style-type: none;
  margin-left: 8.3%;
  width: 33.3%;
}
li{
  line-height: 2em;
  padding: 10px 0;
}
narrative, reference, episodes{
  display: block;
  height: 100%;
  width: 100%;
}
figure{
  margin: 2em auto;
}
figcaption{
  line-height: 1.2em;
  text-align: center;
}
p{
  line-height: 1.4em;
  margin: 2vh 2vw;
}


.bottom-wrapper,
footer {
  position: relative;
  z-index: 2;
}
.bottom-wrapper {
  margin: 0 auto;
        /*background: white;*/
  min-height: 5em;
  position: relative;
  padding-top: 130px;
}
.bottom-wrapper img {
  display: block;
  margin: 0 auto;
  position: relative;
}

#root-links {
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
#root-links.open {
  opacity: 1;
}
#root-links ul {
  list-style-type: none;
}
#root-links li {
  background: white;
  border: solid 1px #aac;
  max-width: 20em;
  padding: 0.5em 0.8em;
  width: 16vw;
  transition: margin 0.5s ease-out;
}

.synopsis,
.narrative-links,
.reference-links {
  padding: 0 2em;
  position: absolute;
  top: 0;
  z-index: 5;
  transition: all 0.6s ease-out;
}
.synopsis { left: 50%; top: -1em; transform: translateX(-50%); }
.narrative-links { right: 30%; }
.reference-links { left: 30%; }
.open .narrative-links { 
  right: 0%; 
}
.open li { position: relative; margin-top: 1em; } }
.open .narrative-links  li:first-child { right: 10%; }
.open .narrative-links  li:nth-child(2) { right: 35%; }
.open .narrative-links  li:nth-child(3) { right: 80%; }

.open .reference-links { left: 0%; }
.open .reference-links  li:first-child { left: 10%; }
.open .reference-links  li:nth-child(2) { left: 35%; }
.open .reference-links  li:nth-child(3) { left: 15%; }
.open .reference-links  li:nth-child(4) { left: 60%; }
