<main>
	<div id="upper-transition">

		<div id="painting"></div>

		<div id="aboveground" class="aboveground">
			<div class="buildings"></div>
			<div class="trees" id="trees"></div>
			<div class="entrypoint" [ngClass]="{'hidden': episodesVisible}">
				<a id="listen-link" (click)="episodesVisible = true">listen to the story</a>
			</div>
		</div>
	</div>

	<div class="interlude">
		<div class="episodes-wrapper">
			<div id="episodes" class="episodes" [ngClass]="{'shown': episodesVisible}">
				<div class="episode">
					<h2>introduction</h2>
					<audio controls>
						<source src="episodes/welling-up-patricia-wild-0.mp3">
						<source src="episodes/welling-up-patricia-wild-0.wav">
						attributes of interest: buffered controls preload=[]
						browser codec support: https://developer.mozilla.org/en-US/docs/Web/HTML/Supported_media_formats
					</audio>
					<p></p>
				</div>
				<div class="episode">
						<h2>episode 1</h2>
						<audio controls="controls" src="episodes/welling-up-patricia-wild-1.mp3"></audio>
						<p>Description of episode lorem ipsum dolor sit amet</p>
						<p><a href="#">List of Characters</a> • <a href="#">List of helpful links</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="belowground">
		<div id="root-links" [ngClass]="{'open': rootLinksVisible}">
			<ul class="narrative-links">
				<li *ngFor="let page of narrativePages"><a routerLink={{page.id}}>{{page.title.rendered}}</a></li>
			</ul>
			<ul class="reference-links">
				<li *ngFor="let page of referencePages"><a routerLink={{page.slug}}>{{page.title}}</a></li>
			</ul>
		</div>
		<div class="entrypoint" [ngClass]="{'hidden': rootLinksVisible}">
			<a id="supplemental-link" (click)="rootLinksVisible = true">explore the depths</a>
		</div>
	</div>

</main>

<!-- footer -->

<script type="text/javascript">
	// init controller
	var controller = new ScrollMagic.Controller();

	/** Scroll animations **/

	var holdFixed = new ScrollMagic.Scene({duration: 500})
	.setPin("#upper-transition")
	.addTo(controller);

	// make invisible to start
	// but only if JS is working and we get this far
	document.getElementById("aboveground").style = "opacity: 0";
	var backdropFadeIn = new ScrollMagic.Scene({duration: 300})
	.setTween("#aboveground", {opacity: 1})
	.addTo(controller);

	var crossfadeScene = new ScrollMagic.Scene({duration: 300})
	.setTween("#painting", {opacity: 0})
	.addTo(controller);

	console.log('scroll transition js loaded')
</script>
