<main>
<div id="frame">

	<div id="aboveground" class="aboveground">
		<div class="entrypoint" [hidden]="state.audioPlayerVisible$ | async">
			<a routerLink="/episodes">listen to the story</a>
		</div>
		<a class="synopsis" routerLink="/synopsis">Synopsis</a>

	</div>

	<div class="belowground">
		<div id="root-links" [ngClass]="{'open': rootLinksVisible }">
			<ul class="narrative-links">
				<!--<li *ngFor="let page of narrativePages"><a routerLink="/narrative/{{page.id}}" [innerHtml]="page.title.rendered"></a></li>-->
				<li *ngFor="let category of narrativeSubcategories"><a routerLink="/category/{{category.id}}" [innerHtml]="category.name"></a></li>
			</ul>
			<ul class="reference-links">
				<li *ngFor="let category of referenceSubcategories"><a routerLink="/category/{{category.id}}" [innerHtml]="category.name"></a></li>
			</ul>
		</div>
		<div class="entrypoint" [ngClass]="{'hidden': rootLinksVisible}">
			<a id="supplemental-link" (click)="showRootLinks()">explore the depths</a>
		</div>
	</div>

</div>
<div id="painting" class="transition" [hidden]="!paintingCrossfade"></div>
</main>

<!-- footer -->

<!--<script type="text/javascript">
	// init controller
	var controller = new ScrollMagic.Controller();

	/** Scroll animations **/

	var holdFixed = new ScrollMagic.Scene({duration: 500})
	.setPin("#upper-transition")
	.addTo(controller);

	// make invisible to start
	// but only if JS is working and we get this far
	document.getElementById("aboveground").style = "opacity: 0";
	var backdropFadeIn = new ScrollMagic.Scene({duration: 300})
	.setTween("#aboveground", {opacity: 1})
	.addTo(controller);

	var crossfadeScene = new ScrollMagic.Scene({duration: 300})
	.setTween("#painting", {opacity: 0})
	.addTo(controller);

	console.log('scroll transition js loaded')
</script>-->
