@import url(https://fonts.googleapis.com/css?family=Merriweather:700,300,300italic);

body {
  font-family: 'Merriweather';
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
/* landing page */

.loading main,
landing main {
  background: url('/images/patterns/regal.png') repeat; /* pattern by 'Akash' from subtlepatterns.com */
  display: flex;
  align-items: center;
  height: 100vh; /* for pre-load page mainly */
}

#upper-transition {
  position: relative;
}

a {
  cursor: pointer;
}
/* identify links that take you to external sites */
a[href^="http://"],
a[href^="https://"] {
  /* borrowed from wikipedia.org */
  background-position: center right;
  background-repeat: no-repeat;
  background-image: url("/images/external-link-icon.png");
  background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3C%3Fxml version=%221.0%22 encoding=%22UTF-8%22 standalone=%22no%22%3F%3E%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22%3E%3Cpath fill=%22%23fff%22 stroke=%22%2360686a%22 d=%22M1.5 4.518h5.982V10.5H1.5z%22/%3E%3Cpath d=%22M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z%22 fill=%22%2360686a%22/%3E%3Cpath d=%22M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z%22 fill=%22%23fff%22/%3E%3C/svg%3E");
  background-image: -o-linear-gradient(transparent,transparent),url("/images/external-link-icon.png");
  padding-right: 13px;
}

/* angular temp top nav */
nav {
  /*background-color: #99aba9;*/
  background-color: #8f8d99;
  border-bottom: 4px solid #e6d27a;
  box-shadow: 0px -5px 25px #9d97b9; /* cheat to darken element above, .title-subtitle */
  font-size: 0;
  overflow-y: hidden;
  padding: 1rem;
  text-align: center;
}
nav a{
  color: #4d4d57;
  font-size: 16px;
  margin: 0;
  padding: 17px;
}
nav a:hover {
  background: #e6d27a;
}
nav a.current {
  background: #6f6c80;
  box-shadow: inset 0px 3px 12px #605784;
  color: #dde;
  text-decoration: none;
}

.title-subtitle{
  z-index: -1;
  background: radial-gradient( 
    ellipse at top, 
    rgb(230,236,248), 
    rgba(201, 208, 218, 0.6), 
    rgba(145, 150, 156, .5)
  );
  padding-bottom: 0.8em;
}
.title-subtitle.floating {
  background: transparent;
  border-bottom: none;
  position: absolute;
  top: 5.4rem;
  left: 50%;
  text-shadow: 0 0 5px white;
  transform: translateX(-50%);
  width: 90%;
  z-index: 5;
}
header.no-border{
  border: none;
}
h1 a { text-decoration: none; }
header h1 {
  color: #667;
  font-family: 'Playfair Display SC', Georgia, serif;
  font-size: 250%;
  letter-spacing: 0.15em;
  line-height: 3rem;
  margin: 0;
  padding: 0.4em 0 0;
  text-align: center;
  text-shadow: 2px 14px 7px #a3afc6;
}
header h2 {
  color: #667;
  font-family: Georgia, serif;
  font-size: 120%;
  line-height: 0.5rem;
  margin: 0 0 0.8em;
  padding: 1rem;
}
header {
  background: url(/images/wavecut.png) repeat;
  margin: 0px;
  padding: 0px;
}

button {
  height: 50px;
  width: 200px;
}

ng-component > footer {
  background-color: #8f8d99;
  display: block;
  margin-top: 40px;
}
h2 {
  color: #6767a2;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
  text-align: center;
}
a {
  color: #60686a;
}
.hidden {
  display: none;
}
.revealed{
  display: inline-block;
}

/* floating audio mini-player */

.episode-mini p {
  color: #555;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.episode-mini h5 {
  color: #555;
  margin: 0.6rem 0 0.4rem;
}
h5{
  font-size: 1em;
}
.episode-mini audio {
  width: 100%;
}

.episode-mini {
  background: #f0f0f0;
  border: solid 2px #dadada;
  border-radius: 4px;
  padding: 0 10px 5px;
  min-width: 300px;
  z-index: 20;
}
.episode-mini.shown {
  bottom: 1em;
  left: 0.5em;
  /* duration | timing-function | delay |
iteration-count | direction | fill-mode (forwards, backwards, both) | play-state | name */
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.episode-mini.shown.centered { /* applied on front page */
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.player-revealer{
  background: #f0f0f0;
  border: solid 2px #dadada;
  border-radius: 4px;
  font-family: serif;
  padding: 5px 10px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 20;
}
.caret{
  position: absolute;
  width: 40px;
  overflow: hidden;
  top: -2.5px;
  right: 2.5px;
}


#nolimetangere {
  background-color: #444;
  display: block;
  height: 360px;
  margin: 0 auto;
  opacity: 1;
}

.go-back-wrapper,
.page {
  margin: 0 16.7%;
  padding: 2.5rem 4rem;
  position: relative; /* to anchor .go-back */
}
.go-back-wrapper {
  top: 5rem; /* hack for positioning relative to <section>'s on episodes page */
}
.page {
/* section{ */
  background: white url('/images/patterns/paperbg.jpg') bottom no-repeat;
  background-size: cover;
  border-bottom: 1px solid #ccc;
  box-shadow: 1px 2px 6px #aaa;
  margin: 70px 16.7%;
  padding: 30px 50px;
  width: 66%;
}
.wrapper > section {
  position: relative;
}

.go-back {
  left: 0;
  position: absolute;
  top: -1.5em;
}
h3 {
  border-bottom: 2px solid #d2d3d4;
  color: #959aa2;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0.5em 0 1.5em;
  padding: 0 0 0.25em;
}
img {
  display: block;
  margin: 0 auto;
}
.page {
  background-color: rgb(253, 252, 246);
  /*option 1*/
  background: linear-gradient( rgba(252, 252, 233, 0.8), rgba(245, 245, 232, 0.7) ), url('/images/patterns/beige_paper.png') repeat;
  /*option 2*/
  background: linear-gradient( rgba(253, 255, 215, 0.5), rgba(245, 245, 232, 0.5) ), url('/images/patterns/white_paperboard.png') repeat;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(75, 76, 83, 0.27);
  padding-bottom: 5rem; /* to balance end-ornament */
}
#end-ornament {
  margin-top: 1rem;
}
/*.page:after {
  background: url('/images/flourish.svg') 50% 100% no-repeat;
  height: 50px;
  padding: 20px;
}
.page-content > p:last-child {
  background: url('/images/flourish.svg') 50% 100% no-repeat;
  padding-bottom: 80px;
}*/
.animation-wrapper .page {
  margin-top: 4rem !important;
}
.animation-wrapper {
  /* for page-turn animation on child .wrapper */
  perspective: 800px;
  position: relative;
  min-height: 600px;
}
ng-component {
  /* for page-turn animation */
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left center;
  transform-style: preserve-3d;
  width: 100%; /* or less? */
}
ng-component, narrative, reference, characters, episodes, landing, .wrapper{
  background: url('/images/patterns/regal.png') repeat; /* fallback */
  background: linear-gradient(rgba(56, 52, 78, 0.3),rgba(25, 27, 30, 0.4)), url('/images/patterns/regal.png') repeat;
  /* would need clearance to use these
  background: url('/images/patterns/morris.wallpaper1.jpg') repeat;
  background: linear-gradient(rgba(194, 193, 200, 0.84),rgba(140, 152, 171, 0.85)), url('/images/patterns/morris.wallpaper2.jpg') repeat;
  */
}
characters{
  min-height: 800px;
}
.wrapper{
  min-height: 800px;/*still working on this, trying to figure out how to get the content to be the right height to fill the rest of the page*/
  margin: 0;
  padding: 0;
}
li{
  line-height: 2em;
  padding: 10px 20px 10px 0;
}
narrative, reference {
  display: block;
  height: 100%;
  width: 100%;
}
figure{
  margin: 3em auto;
}
figcaption {
  font-style: italic;
  font-size: 0.9em;
  line-height: 1.2em;
  text-align: center;
}
.page-content img,
figure > img{
  background: #fff;
  box-shadow: 0 2px 4px #333;
  margin: 5px auto;
  padding: 10px;
}
/* offset images in WP content as if clipped to page */
/*@media (min-width: 450px) {
  .page-content figure {
    float: right;
    position: relative;
    left: 90px;
    margin-left: -50px;
  }
}*/
p {
  color: #453f25;
  font-size: 1.1em;
  line-height: 1.4em;
  /*margin: 2vh 2vw;*/
  text-align: justify;
  /* text-justify: distribute or inter-character or inter-word ? */
}
audio{
  width: 83.3%;
}

hr {
  background: url('/images/flourish.svg') 50% 100% no-repeat;
  border: none;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  height: 50px;
  width: 50%;
}
.play-episode:focus, .player-toggle:focus{
  outline: none;
}
.play-episode, .player-toggle{
  background: #a1a6ad;
  border: none;
  border-bottom: 3px solid #8f8d99;
  border-radius: 6px;
  box-shadow: 0 3px 3px #aaa;
  box-sizing: content-box;
  color: #346;
  cursor: pointer;
  font-size: 1.05em;
  letter-spacing: 1px;
  margin: 0;
}
.player-toggle, .player-toggle:active{
  margin: 0 0 4px;
}
.play-episode:active, .player-toggle:active{
  border-bottom: 1px solid #8f8d99;
  box-shadow: 0 1px 1px #aaa;
  margin-top: 2px;
}
.player-toggle{
  float: right;
  height: 25px;
  padding: 0;
  width: 25px;
}
.episode-mini.shown>h5>.player-toggle{
  letter-spacing: -.01em;
  line-height: 1.1em;
}
.text-elements{
  display: inline-block;
  vertical-align: top;
  width: 75%;
}

.footer-links{
  display: inline-block;
  margin: 10px 0 0 66.6%;
  width: 16.7%;
}
.footer-links>a{
  background-image: none;
  color: #4d4d57;
  display: block;
  margin: 5px 0 0 0;
  padding: 0;
  text-align: right;
  text-decoration: none;
}
.bottom-wrapper {
  margin: 0 auto;
        /*background: white;*/
  min-height: 5em;
  position: relative;
  padding-top: 130px;
}
.bottom-wrapper img {
  display: block;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 650px){
  .narrative-links, .reference-links{
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 45%;
  }
  .episode-mini.shown{
    bottom: 0;
    left: 0;
    width: 94vw;
  }
  .player-revealer{
    height: 8.3vw;
    width: 8.3vw;
    right: 0;
    bottom: 0;
    left: auto;
  }
  .player-revealer>.player-toggle{
    display: block;
    margin: 0 3px;
  }
  .caret{
    right: 5px;
  }
  .go-back{
    top: -2em;
  }
  section, .page{
    margin: 40px 0 90px;
    padding: 8.3%;
    width: 83.3%;
  }

  nav { padding: 0; }
  nav>a{
    display: inline-block;
    padding: 0.4rem;
  }
  .wrapper{
    min-height: 450px;
  }
  main{
    height: 100vh;
    margin: auto 0;
  }
  .episodes-wrapper{
    padding: 20px 0 90px;
  }
  .episode-mini.shown.bottom{
    bottom: 0;
  }
  .player-toggle, .player-toggle:active{
    margin: 0 0 4px;
  }
  .footer-links{
    display: block;
    margin: auto;
    width: 50%;
  }
  .footer-links>a:first-child{
    border-right: 1px solid #4d4d57;
  }
  .footer-links>a{
    display: inline-block;
    padding: 5px 20px;
    width: auto;
  }
}
