html, body { margin: 0; padding: 0; }

header {
  margin: 0px;
  background-color: rgb(187, 205, 222);
  padding: 0px;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  margin-bottom: 0;
  padding: 0 1rem;
}
h2 {
  background-color: rgb(165, 185, 200);
  color: #47a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  padding: 1rem;
}

nav { margin: 0; padding: 1rem 0; }
nav a { padding: 0.2em 1em; }
nav a:hover { background: #abc; }
nav a.current { background: #369; color: #dde; text-decoration: none; }
